	    <!DOCTYPE html>
	    <html>
	        <head><title>Dati Pagamento</title>
	        		      <meta charset="utf-8">
	      <meta name="viewport" content="width=device-width, initial-scale=1">
	      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
	      <link rel="stylesheet" href="../css/theme.css" type="text/css">
	      <link href="//netdna.bootstrapcdn.com/bootstrap/3.0.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
<script src="//netdna.bootstrapcdn.com/bootstrap/3.0.0/js/bootstrap.min.js"></script>
<script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
	    </head>
	<body>
		<div class="container-fluid">
<div class="row margin10" >
        <div class="col-lg-4 offset-lg-4 col-md-4 offset-md-4 col-xs-12 ">
            <div class="panel panel-default">
                <div class="panel-heading text-center" >
                    <h3 class="panel-title ">
                        Dettagli pagamento
                    </h3>

                </div>
                <form role="form" action="/restaurant/Ordine/RiepilogoFinale">
                    <div class="form-group">
                        <label for="cardHolder"> Nome e cognome del titolare</label>
                        <div class="input-group">
                            <input type="text" class="form-control" id="cardHolder" name="ccname" placeholder="Inserire nome e cognome del titolare della carta" size="100%" autocomplete="cc-name" required/>
                        </div>
                    </div>
                    <div class="form-group">
                        <label for="cardNumber"> Numero carta</label>
                        <div class="input-group">
                            <input type="text" title="da 13 a 16 numeri" class="form-control" id="cardNumber" name="cardnumber" minlength="13" maxlength="16" pattern="[0-9]{literal}{13,16}{/literal}" placeholder="Inserire il numero della carta" autocomplete="cc-number" required autofocus />
                            <span class="input-group-addon"><span class="glyphicon glyphicon-lock"></span></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12 col-md-7 ">
                            <div class="form-group">
                                <label for="expiryMonth">
                                    Data di scadenza</label>
                                <div class="col-xs-12 col-lg-6 pl-ziro col-sm-5">
                                    <select  class="form-control" id="expiryMonth" placeholder="MM" required />
                                    <option selected disabled>AA</option>
                                    {for $qt=19 to 99}
                                    <option>{$qt}</option>
                                    {/for}
                                    </select>
                                </div>
                                <div class="col-xs-12 col-lg-6 pl-ziro col-sm-5">
                                    <select  class="form-control" id="expityYear" placeholder="AA" required />
                                    <option selected disabled>MM</option>
                                    {for $qt=1 to 12}
                                    <option>{$qt}</option>
                                    {/for}
                                    </select>


                                </div>
                            </div>
                        </div>
                        <div class="col-xs-12 col-md-5 pull-right">
                            <div class="form-group">
                                <label for="cvCode">
                                    CVV </label>
                                <input pattern="[0-9]{literal}{3}{/literal}" title="3 numeri" minlength="3" maxlength="3" type="password" class="form-control" id="cvCode" name="cvc" placeholder="CVV" autocomplete="cc-csc" required />
                            </div>
                        </div>
                    </div>

            </div>
            <ul class="nav nav-pills nav-stacked col-12" >
                <li class="active col-12" style="padding: 0;"><a href="#"><span class="badge pull-right "><span class="glyphicon glyphicon-euro"></span>{$Totale}</span> Totale</a>
                </li>
            </ul>
            <br/>
            <input class="btn btn-success btn-lg btn-block col-12" type="submit" value="Paga ora">
        </div>
    </div>
</form>



</div>




	</body>
	</html>