    <!DOCTYPE html>
    <html>
    <head><title>Il Ristorante</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">

      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="https://static.pingendo.com/bootstrap/bootstrap-4.3.1.css">

        <link rel="stylesheet" href="/restaurant/Smarty/css/theme.css" type="text/css">
    </head>

<body>

	<div class="container-fluid">

        <!--- intestazione-->
        <div class="col-md-12" >
            <div class="row margin10">
                {if $logged == true}
                <div class="col-lg-11 col-md-10" style="text-align: center" ><b>Il Ristorante</b></div>

                <div class="col-lg-1 col-md-1" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" >
                                <div class="btn-group" id="profile-button" >
                                    <button class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Profilo </button>
                                    <div class="dropdown-menu"> <a class="dropdown-item" href="#">Account</a>
                                        <div class="dropdown-divider"></div>
                                        <a class="dropdown-item" href="#">Logout</a>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>    </div>
                {else}
                <div class="col-lg-10 col-md-9" style="text-align: center" ><b>Il Ristorante</b></div>

                <div class="col-lg-2 col-md-2" >
                    <div class="container">
                        <div class="row">
                            <div class="col-md-12" >
                            <div class="btn-group" id ="login-button">
                                <button  class="btn btn-primary dropdown-toggle" data-toggle="dropdown"> Login </button>
                                <div id="drop_menu" class="dropdown-menu"   style="margin-right: 50px; ">
                                    <form class="p-3" method="post" action="/restaurant/Utente/Login" >
                                        <div class="form-group" >
                                            <label for="exampleDropdownFormEmail1">Email address</label>
                                            <input name="username" type="email" class="form-control" id="exampleDropdownFormEmail1" placeholder="email@example.com">
                                        </div>
                                        <div class="form-group">
                                            <label for="exampleDropdownFormPassword1">Password</label>
                                            <input name="password" type="password" class="form-control" id="exampleDropdownFormPassword1" placeholder="Password">
                                        </div>
                                        <div class="form-check">
                                            <input type="checkbox" class="form-check-input" id="dropdownCheck">
                                            <label class="form-check-label" for="dropdownCheck"> Remember me </label>
                                        </div>
                                        <button type="submit" class="btn btn-primary">Sign in</button>
                                    </form>
                                    <div class="dropdown-divider"></div>
                                    <a class="dropdown-item" href="#">New around here? Sign up</a>
                                    <a class="dropdown-item" href="#">Forgot password?</a>
                                </div>
                            </div>
                            </div>
                        </div>
                    </div>
                </div>


                {/if}
            </div>
        </div>






        <!--- pie di pagina-->
        <div class="row">
        <div class="col-10" style="margin-top: 50px">
              <div class="table-responsive offset-1" >
                <table class="table">
                  <tr>
                    <td><h5 class="card-title"><b>Informazioni generali</b></h5>
                <p class="card-text d-flex flex-grow-1" contenteditable="false">Sede: {$sede}<br>Cellulare: {$cellulare}<br>Telefono fisso: {$telefono_fisso}</td>
                  <td >
                   <b> Giorni di apertura:</b>{section name=nr loop=$giorni_apertura} <br>{$giorni_apertura[nr]}{/section}
                  </td>
                  <td>
                      Aperto ora: {$stato_apertura}<br>Proprietario: {$nome_proprietario}<br> Giudizio complessivo: {$giudizio_complessivo} </p>
                  </td>
                    </tr> 
                     </table>


<br><br>
<br><br>
              </div>
            </div>
	</div>
    </div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.3/umd/popper.min.js" integrity="sha384-ZMP7rVo3mIykV+2+9J3UJ46jBk0WLaUAdn689aCwoqbBJiSnjAK/l8WvCWPIPm49" crossorigin="anonymous" style=""></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js" integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous" style=""></script>
</body>
</html>