    <!DOCTYPE html>
    <html>
    <head><title>Il Ristorante</title>
      <meta charset="utf-8">
      <meta name="viewport" content="width=device-width, initial-scale=1">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css" type="text/css">
        <link rel="stylesheet" href="../css/theme.css" type="text/css">
    </head>

<body>

	<div class="container-fluid">
        <div class="col-10" style="margin-top: 50px">
              <div class="table-responsive offset-1" >
                <table class="table">
                  <tr>
                    <td><h5 class="card-title"><b>Informazioni generali</b></h5>
                <p class="card-text d-flex flex-grow-1" contenteditable="false">Sede: {$sede}<br>Cellulare: {$cellulare}<br>Telefono fisso: {$telefono_fisso}</td>
                  <td >
                   <b> Giorni di apertura:</b>{section name=nr loop=$giorni_apertura} <br>{$giorni_apertura[nr]}{/section}
                  </td>
                  <td>
                                     Aperto ora: {$stato_apertura}<br>Proprietario: {$nome_proprietario}<br> Giudizio complessivo: {$giudizio_complessivo} </p>
                  </td>
                    </tr> 
                     </table>


<br><br>
<br><br>
              </div>
            </div>

	</div>



</body>
</html>