<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="theme.css">
</head>

<body>
<div class="py-5"></div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">Come desideri pagare?</h1>
            </div>
        </div>
    </div>
</div>
<pingendo onclick="window.open('https://pingendo.com/', '_blank')"
          style="cursor:pointer;position: fixed;bottom: 20px;right:20px;padding:4px;background-color: #00b0eb;border-radius: 8px; width:220px;display:flex;flex-direction:row;align-items:center;justify-content:center;font-size:14px;color:white">
    Made with Pingendo Free&nbsp;&nbsp;<img src="https://pingendo.com/site-assets/Pingendo_logo_big.png" class="d-block"
                                            alt="Pingendo logo" height="16"></pingendo>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="text-right col-6 col-md-6 col-sm-6 w-25" style=""><a class="btn btn-primary"
                                                                             href="#">Contanti</a></div>
            <div class="col-5 col-md-5 col-sm-5 w-25"><a class="btn btn-primary" href="#">Carta</a></div>
        </div>
    </div>
</div>
</body>

</html>