<!DOCTYPE html>
<html>

<head>
    <link rel="stylesheet" href="/restaurant/Smarty/css/theme.css">
</head>

<body>
<div class="py-5"></div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1 class="display-4 text-center">Come desideri pagare?</h1>
            </div>
        </div>
    </div>
</div>
<div class="py-5">
    <div class="container">
        <div class="row">
            <div class="text-right col-6 col-md-6 col-sm-6 w-25" style=""><a class="btn btn-primary"
                                                                             href="#">Contanti</a></div>
            <div class="col-5 col-md-5 col-sm-5 w-25"><a class="btn btn-primary" href="#">Carta</a></div>
        </div>
    </div>
</div>
</body>

</html>